<!-- <div *ngIf="album" class="album-detail">
    <img [src]="album.image" [alt]="album.title">
    <h2>{{album.title}}</h2>
    <p>Name: {{album.title}}</p>
    <button>Play</button>
    <h3>List of songs</h3>
    <ul>
      <li *ngFor="let song of album.songs">{{song}}</li>
    </ul>
    <div class="album-info">
      <h3>{{album.genre}}</h3>
      <h2>{{album.title}}</h2>
      <p>{{album.description}}</p>
      <div class="tags"> -->
<!-- Add tags here -->
<!-- </div>
      <div class="album-meta">
        <span>en</span>
        <span class="likes">5</span>
        <span class="duration">840 min</span>
        <span>Details</span>
      </div>
    </div>
  </div> -->

<div *ngIf="album" class="album-detail">
  <img [src]="album.url" [alt]="album.title" />
  <h2>{{ album.title }}</h2>
  <p>Name: {{ album.name }}</p>
  <button>Play</button>
  <h3>List of songs</h3>
  <ul>
    <li *ngFor="let song of album.tags">{{ song }}</li>
  </ul>
  <div class="album-info">
    <h3>{{ album.status }}</h3>
    <p>{{ album.description }}</p>
    <div class="tags">
      <span *ngFor="let tag of album.tags" class="tag">{{ tag }}</span>
    </div>
    <div class="album-meta">
      <span>Duration: {{ album.duration }} sec</span>
      <span class="likes" *ngIf="album.like">{{ album.like }}</span>
    </div>
  </div>
</div>
